<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:,">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=1200"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Simple Board</title>

    <link rel="stylesheet" href="/css/boardBase.css"/>
    <link rel="stylesheet" href="/css/boardDetail.css">
    <link rel="stylesheet" href="/css/myComments.css">
</head>
<body>
<header>
    <div class="title-container">
        <h1 class="top-title"><a href="/boards">Simple Board</a></h1>
    </div>
</header>

<main>
        <div class="main-container">
        <div class="menu-container">
            <button
                    class="menu-btn"
                    id="writeBoard"
                    onclick="location.href='/boards/new'">글쓰기
            </button>
            <button
                    class="menu-btn"
                    id="myBoard"
                    onclick="location.href='/my-page/my-boards'">나의 게시글
            </button>
            <button class="menu-btn"
                    id="myComment"
                    onclick="location.href='/my-page/my-comments'">나의 댓글</button>
            <button class="menu-btn"
                    id="updateInfo"
                    onclick="location.href='/my-page/info-update'">회원 정보 수정</button>
            <button class="menu-btn" id="logOut">로그아웃</button>
        </div>

        <div class="comment-container" id="comment-container">
        </div>
        <div class="page-container" id="page-container"></div>
        <div class="no-content" id="no-content">
        </div>


        </div>
</main>
<footer>
    <div class="footer-info">
        SQUAD-BOARD / Song Hae Chan
    </div>
</footer>
</body>
<script src="/js/home/logoutMember.js"></script>
<script src="/js/board/myComments.js"></script>
<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
<script src="/js/board/url.js"></script>

</html>
</html>
