<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Board</title>
    <link rel="stylesheet" href="/css/boardBase.css">
</head>
<body>
<header>
    <div>
        <h1 class="title-container" id="title">Simple Board</h1>
    </div>
</header>

<main>
    <div class="main-container">
        <p>게시글</p>
    </div>
</main>


</body>
</html>