<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Board</title>
    <link rel="stylesheet" href="/css/boardBase.css">
    <link rel="stylesheet" href="/css/createBoard.css">
</head>
<body>
<header>
    <div>
        <h1 class="title-container" id="title">Simple Board</h1>
    </div>
</header>

<main>
    <div class="main-container">

        <div class="menu-container">
            <button class="menu-btn" id="myBoard">나의 게시글</button>
            <button class="menu-btn" id="myComment">나의 댓글</button>
            <button class="menu-btn" id="updateInfo">회원 정보 수정</button>
            <button class="menu-btn" id="logOut">로그아웃</button>
        </div>

        <div class="create-board-container">
            <input type="text" class="title-box" placeholder="제목을 입력해주세요."/>
            <textarea class="content-box" placeholder="내용을 입력해주세요."></textarea>
        </div>

        <div class="create-btn">
            <button>완료</button>
        </div>
    </div>
</main>


</body>
</html>