<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Board</title>
    <link rel="stylesheet" href="/css/createMember.css">
</head>
<body>
    <div class="top-title">
        <h1>Simple Board</h1>
    </div>

    <div class="signup-title">
        <h2>회원 가입</h2>
    </div>

    <div class="signup-wrapper">
        <form id="signup-form" action="/members/new" th:object="${createMemberDto}" method="post">
            <input type="text" th:field="*{loginId}" placeholder="아이디"><br>
            <input type="password" th:field="*{loginPw}" placeholder="비밀번호"><br>
            <input type="text" th:field="*{name}" placeholder="이름"><br>
            <input type="text" th:field="*{nickName}" placeholder="닉네임"><br>
            <input type="submit" value="회원가입">
        </form>
    </div>
    
</body>
</html>