<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createMember.css">
</head>
<body>
    <div class="top-title">
        <h1>Simple Board</h1>
    </div>

    <div class="signup-title">
        <h2>회원 가입</h2>
    </div>

    <div class="signup-wrapper">
        <form id="signup-form">
            <input type="text" name="userName" placeholder="name"><br>
            <input type="text" name="userLoginId" placeholder="Id"><br>
            <input type="password" name="userLoginPW" placeholder="Password"><br>
            <input type="submit" value="회원가입">
        </form>
    </div>

    
</body>
</html>