<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/loginMember.css">
</head>
<body>
<div class="top-title">
    <h1>Simple Board</h1>
</div>

<div class="login-title">
    <h2>로그인</h2>
</div>

<div class="login-wrapper">
    <form id="login-form">
        <input type="text" name="userLoginId" placeholder="Id"><br>
        <input type="password" name="userLoginPW" placeholder="Password"><br>
        <input type="submit" value="로그인">
    </form>
</div>


</body>
</html>