body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

button {
    border-radius: 20px;
    border: 1px solid #5685ff;
    background-color: #5685ff;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.title-container {
    font-size: 50px;
    background-image: linear-gradient(160deg, #2254ff 0%, #258aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.top-title {
    font-size: 60px;
    font-weight: bold;
    margin: 20px 20px;
    padding-bottom: 12px;
}

.main-container {
    background-color: #fff;
    /*margin-bottom: 20px;*/
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    width: 1100px;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    /*min-height: 1000px;*/
}

/* footer */
.footer-info {
    color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
}