<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Board</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<header class="top-title">
    <h1>Simple Board</h1>
</header>
<nav>
    <div class="signup-button">
        <a href="members/new">
            <button>회원 가입</button>
        </a>
    </div>

    <div class="login-button">
        <a href="members/login">
            <button>로그인</button>
        </a>
    </div>
</nav>
</body>

</html>