<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="squad.board.repository.BoardMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="boardId" keyColumn="board_id">
        insert into board(member_id, title, content, created_date, modified_date)
        values (#{memberId}, #{title}, #{content}, #{createdDate}, #{modifiedDate})
    </insert>

    <!-- api 성공하면 -->
    <!--    <select id="findAllWithNickName" resultType="squad.board.dto.board.BoardResponse">-->
    <!--        select b.board_id,-->
    <!--               b.title,-->
    <!--               b.content,-->
    <!--               m.nick_name,-->
    <!--               b.created_date-->
    <!--        from board b-->
    <!--                 join member m-->
    <!--                      on b.member_id = m.member_id-->
    <!--        order by created_date desc-->
    <!--    </select>-->
    <!-- 지워 -->

    <select id="findAllWithNickName" resultType="squad.board.dto.board.BoardResponse">
        select b.board_id,
               b.title,
               b.content,
               m.nick_name,
               b.created_date
        from board b
                 join member m
                      on b.member_id = m.member_id
        order by created_date desc
        limit #{size} offset #{offset}
    </select>

    <select id="countBoards">
        select count(*)
        from board;
    </select>

    <select id="findByKeyWord">
        select b.board_id,
               b.title,
               b.content,
               m.nick_name,
               b.created_date
        from board b
                 join member m
                      on b.member_id = m.member_id
        where match(content) against(#{keyWord})
        order by created_date desc
        limit #{size} offset #{offset}
    </select>

    <select id="countByKeyWord">
        select count(*)
        from (select * from board where match(content) against(#{keyWord})) as `b*`;
    </select>

    <select id="findByIdWithNickName" resultType="squad.board.dto.board.BoardDetailResponse" parameterType="long">
        select b.board_id, b.title, b.content, m.nick_name, b.created_date, b.modified_date
        from board b
                 join member m
                      on b.member_id = m.member_id
        where b.board_id = #{boardId}
    </select>

    <delete id="deleteById">
        delete
        from board
        where board_id = #{boardId}
    </delete>

    <select id="findById" resultType="Board">
        select *
        from board
        where board_id = #{boardId}
    </select>

    <update id="updateById">
        update board
        set title         = #{dto.title},
            content       = #{dto.content},
            modified_date = #{modifiedDate}
        where board_id = #{boardId}
    </update>
</mapper>