<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="squad.board.repository.ImageMapper">
    <insert id="save" useGeneratedKeys="true" keyColumn="image_id">
        insert into image(board_id, file_name)
        values (#{boardId}, #{fileName})
    </insert>

    <select id="findImageFileName" resultType="String">
        select file_name
        from image
        where board_id = #{boardId}
    </select>

</mapper>